<%= render partial: "shared/admin_dashboard" %>

<div class="d-flex justify-content-center">
  <h3>Invoice #: <%= @invoice.id %></h3>
</div>
<br>
<div id="invoice-<%= @invoice.id %>">
  <%= form_with url: admin_invoice_path(@invoice.id), method: :patch, local: true do |form| %>
    <%= form.label "Status:" %>
    <%= form.select :status, ["completed", "cancelled", "in progress"], :selected => "#{@invoice.status}" %>
    <%= form.submit 'Update Invoice Status' %>
  <% end %>
  <br>
</div>

<p>Invoice Status: <%= @invoice.status %></p>
<p>Created On: <%= @invoice.formatted_date %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p>GROUP PROJECT Total Revenue (Not accurate): <%= number_to_currency(@invoice.total_revenue / 100) %></p>
<div id="revenue">
<p>Invoice Revenue: <%= number_to_currency(@invoice.total_invoice_revenue.to_f / 100) %> </p>
<p>Total Discounts Applied: -<%= number_to_currency(@invoice.total_invoice_discounts.to_f / 100) %> </p>
<p>Total Invoice Revenue: <%= number_to_currency(@invoice.total_discounted_revenue.to_f / 100) %> </p>
</div>
<br>

<h3>Items On This Invoice:</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Status</th>
      </tr>
    </thead>

      <tbody>
        <% @invoice.invoice_items.each do |invoice_item| %>
          <tr id="invoice-<%= invoice_item.item.id %>">
            <td><%= invoice_item.item.name %></td>
            <td><%= invoice_item.quantity %></td>
            <td><%= number_to_currency(invoice_item.unit_price.to_f/100) %></td>
            <td><%= invoice_item.status %></td>
          </tr>
        <% end %>
  </table>
