<%= render partial: "shared/admin_dashboard" %>

<h1>Admin Merchants</h1>

<h3>Enabled Merchants: </h3>
  <ul id="admin-enabled_merchants">
    <% @merchants.each do |merchant| %>
      <% if merchant.enabled? %>
        <li id="enab_merchant-<%= merchant.id%>">
          Name: <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> <%= button_to 'Disable?', admin_merchant_path(merchant.id), form: {style: "display:inline-block;"}, method: :patch, params: { status: 'disabled' } %>
        </li>
      <% end %>
    <% end %>
  </ul>

<h3>Disabled Merchants: </h3>
  <ul id="admin-disabled_merchants">
    <% @merchants.each do |merchant| %>
      <% if merchant.disabled? %>
        <li id="disab_merchant-<%= merchant.id%>">
          Name: <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> <%= button_to 'Enable?', admin_merchant_path(merchant.id), form: {style: "display:inline-block;"}, method: :patch, params: { status: 'enabled' } %></p>
       </li>
      <% end %>
    <% end %>
  </ul>

<p>Top Five Merchants:</p>
<ul id="top_five_merchants">
  <% @merchants.top_five_merchants.each do |merchant| %>
  <div id="top_five_merchant_<%= merchant.id %>">
    <li><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> - <%= number_to_currency(merchant.total_revenue / 100.00) %> in sales</li>
  <% end %>
</ul>

