<div class="row mb-3">
  <div class="col bg-warning">
    <h1>HERES THE API CALL</h1>
    <h1><%= link_to @data['url'], "#{@data['url']}" %></h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1> <%= @merchant.name %> </h1>
    <h5> <%= link_to "Merchant Items List", "/merchants/#{@merchant.id}/items" %> </h5>
    <h5> <%= link_to "Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %> </h5>
  </div>
</div>
<div class="row justify-content-center" id="dashboard-items_to_ship">
  <div class="col-3">
  <h3>Items Ready to Ship</h3>
  <table class="table table-striped">
    <% @merchant.invoices_not_shipped.each do |invoice_item| %>
      <tr>
        <td>
          <%= invoice_item.item.name %>
        </td>
        <td>
          <%= link_to "#{invoice_item.invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %>
        </td>
      </tr>
    <% end %>
  </table>

  </div>
</div>
