<h1> <%= @merchant.name %> </h1>
<h5> <%= link_to "Merchant Items List", "/merchants/#{@merchant.id}/items" %> </h5>
<h5> <%= link_to "Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %> </h5>

<div id="dashboard-items_to_ship">
  <h3>Items Ready to Ship</h3>
  <ul>
    <% @merchant.invoices_not_shipped.each do |invoice_item| %>
    <li> <%= invoice_item.item.name %> <%= link_to "#{invoice_item.invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %> </li>
      <% end %>
  </ul>
</div>