<div class="row">
  <div class="col border border-1 d-flex justify-content-center p-3 mt-5 bg-light">
    My Items
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center p-3">
    <%= button_to 'Create New Item', merchant_items_path(merchant_id: @merchant.id), {class: 'btn btn-primary'} %>
  </div>
</div>
<div class="row">
  <div class="col border border-1">
    <h3>ENABLED ITEMS</h3>
    <table class="table">
      <% @merchant.items.each do |item| %>
        <tr>
          <td><%= link_to item.name, merchant_item_path(merchant_id: @merchant.id, id: item.id) %></td>
          <%# if enabled display 'disable' button and vice versa%>
          <td><%= button_to 'enable', merchant_item_path(merchant_id: @merchant.id, id: item.id), method: :patch, params: { enabled: true } %></td>
          <%# button_to 'disable', merchant_items_path(merchant_id: @merchant.id), method: :get, params: { enabled: false } %>
        </tr>
      <% end %>
    </table>
    <h3>DISABLED ITEMS</h3>
    <table class="table">
      <% @merchant.items.each do |item| %>
        <tr>
          <td><%= link_to item.name, merchant_item_path(merchant_id: @merchant.id, id: item.id) %></td>
          <%# if enabled display 'disable' button and vice versa%>
          <td><%= button_to 'enable', merchant_items_path(merchant_id: @merchant.id), method: :get, params: { status: 'enabled' } %></td>
          <%# button_to 'disable', merchant_items_path(merchant_id: @merchant.id), method: :get, params: { enabled: false } %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col border border-1">
    right column
  </div>
</div>
